<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Ashion Template">
  <meta name="keywords" content="Ashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chatting list</title>

  <!--chat-->
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>

  <!-- Css Styles -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

  <link rel="stylesheet" th:href="@{/chat/css/chat-list.css}" type="text/css">
  <script th:defer th:type="module" th:src="@{/chat/js/chat-list.js}"></script>
  <!--<script th:defer th:type="module" th:src="@{/chat/js/chat.js}"></script>-->
</head>
<body>

<main id="chatContainer">
  <section class="header">
    CHAT
  </section>
  <section id="chatWrapper">
    <div class="chat-list">
      <div class="user"></div>
    </div>
    <div class="chat">
      <ul><!-- 동적 생성 --></ul>
    </div>
  </section>
  <section class="input-div">
    <textarea placeholder="Press Enter for send message."></textarea>
  </section>

  <section class="chat format">
    <ul>
      <li>
        <div class="sender">
          <span></span>
        </div>
        <div class="message">
          <span></span>
        </div>
      </li>
    </ul>
  </section>
</main>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>