<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="chat-scrit">
  <title>Hello WebSocket</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script defer th:src="@{/chat/js/chat.js}"></script>
</head>
<body>
q
<main>
  <artice>
    <input type="text" name="message">
    <button id="submitBtn" class="btn btn-primary">전송</button>
  </artice>
</main>

</body>
</html>