<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Ashion Template">
  <meta name="keywords" content="Ashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chatting list</title>

  <!--chat-->
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>

  <!-- Css Styles -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

  <link rel="stylesheet" th:href="@{/chat/css/chat-list.css}" type="text/css">
  <script th:defer th:type="module" th:src="@{/chat/js/chat-list.js}"></script>
</head>
<body>
<div class="container border border-primary">
  <div class="row border border-danger">
    <div id="center" class="col col-3 border border-dark">
      <!--  채팅룸 리스트-->
    </div>
    <div id="right" class="col col-8 border border-dark">
      <div id="chatRoomArea"></div>
    </div>
  </div>
</div>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>