<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
</head>

<body>
<style>
    .product__item__pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product__item__text h6 {
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }

    .product__item__pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #product-registration-button {
        position: fixed;
        bottom: 40px;
        right: 40px;
        padding: 10px 20px;
        background-color: #ff5722;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
        font-size: 16px;
    }

    #product-registration-button:hover {
        background-color: #e64a19;
    }

    .no-products-message {
        font-size: 20px;
        font-weight: bold;
        color: #ff0000;
        margin-top: 20px;
    }

    .product__item__text h6 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }
</style>
<div th:include="/fragments/header :: header"></div>

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card" th:each="category, i : ${categories.getCategoryResponses}">
                                    <div class="card-heading">
                                        <a th:href="'#collapse' + ${i}"
                                           th:attr="data-toggle='collapse', data-target='#collapse' + ${i}">
                                            <span th:text="${category.name.description}">Category Name</span>
                                        </a>
                                    </div>
                                    <div th:id="'collapse' + ${i}" class="collapse" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul class="sub-category-list">
                                                <li><a href="#">Subcategory 1</a></li>
                                                <li><a href="#">Subcategory 2</a></li>
                                                <li><a href="#">Subcategory 3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br></br>
                        <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>가격 범위 설정</h4>
                            </div>
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                     data-min="0" data-max="10000000"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Price:</p>
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            </br>
                            <a href="#">설정</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6" th:each="product : ${products.getProductResponses}">
                        <div class="product__item">
                            <div class="product__item__pic"
                                 th:onclick="'redirectToProductDetails(' + ${product.id} + ')'">
                                <img th:src="${product.getImage(0).url}" alt="Product Image" class="img-fluid">
                                <div class="label new">New</div>
                                <ul class="product__hover">
                                    <li><a th:href="@{${product.getImage(0).url}}" class="image-popup"><span
                                            class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h5>
                                    <a th:text="${product.title}"
                                       th:onclick="'redirectToProductDetails(' + ${product.id} + ')'">Product
                                        Title</a>
                                </h5>
                                <p>
                                    <span th:text="${product.getCategoriesResponse.getCategoryResponses.get(0).name.description}">1차 카테고리</span>
                                    |
                                    <span th:text="${product.getCategoriesResponse.getCategoryResponses.get(1).name.description}">2차 카테고리</span>
                                    |
                                    <span th:text="${product.getCategoriesResponse.getCategoryResponses.get(2).name.description}">3차 카테고리</span>
                                </p>
                                <h5>
                                    <a th:text="${product.name}"
                                       th:onclick="'redirectToProductDetails(' + ${product.id} + ')'">Product
                                        Name</a>
                                </h5></br>
                                <span th:text="'판매자: ' + ${product.getSellerNickName}">Seller Nickname</span></br>
                                <span th:text="'주소: ' + ${product.sellerRegion}">Seller Address</span>5
                                <br>
                                <span th:text="'학교: ' + ${product.schoolName}">School Name</span>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price" th:text="${product.price} + '원'">Price</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div th:if="${products.getProductResponses.size() == 0}" class="no-products-message">
                        <p>해당하는 상품 목록이 존재하지 않습니다.</p>
                    </div>

                    <div th:if="${products.getProductResponses.size() > 0}" class="pagination__option">
                        <!-- 이전 페이지로 이동 -->
                        <a th:if="${!products.pageInformation.isFirst && !isSearch}"
                           th:href="@{/product/list(pageNumber=${products.pageInformation.pageNumber - 1}, size=${products.pageInformation.size})}">
                            <i class="fa fa-angle-left"></i>
                        </a>

                        <a th:if="${!products.pageInformation.isFirst && isSearch}"
                           th:href="@{/product/search-list(pageNumber=${products.pageInformation.pageNumber - 1})}">
                            <i class="fa fa-angle-left"></i>
                        </a>

                        <span th:each="page : ${#numbers.sequence(1, products.pageInformation.totalPages)}">
                            <a th:if="${!isSearch}"
                               th:href="@{/product/list(pageNumber=${page - 1}, size=${products.pageInformation.size})}"
                               th:text="${page}"
                               th:classappend="${page == products.pageInformation.pageNumber + 1} ? 'active'">
                            </a>

                            <a th:if="${isSearch}"
                               th:href="@{/product/search-list(pageNumber=${page - 1})}"
                               th:text="${page}"
                               th:classappend="${page == products.pageInformation.pageNumber + 1} ? 'active'">
                            </a>
                        </span>

                        <a th:if="${!products.pageInformation.isLast && !isSearch}"
                           th:href="@{/product/list(pageNumber=${products.pageInformation.pageNumber + 1}, size=${products.pageInformation.size})}">
                            <i class="fa fa-angle-right"></i>
                        </a>

                        <a th:if="${!products.pageInformation.isLast && isSearch}"
                           th:href="@{/product/search-list(pageNumber=${products.pageInformation.pageNumber + 1})}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<button id="product-registration-button" onclick="redirectToProductRegistration()">상품 등록</button>
<!-- Shop Section End -->

<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i>
                        by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<script src="/js/search.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('search-button').addEventListener('click', function (event) {
            event.preventDefault();
            performSearch();
        });

        document.getElementById('searchkeyword').addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                performSearch();
            }
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const accessToken = localStorage.getItem('access-token');
        const registrationButton = document.getElementById('product-registration-button');

        if (accessToken) {
            fetch('/authentication/save-member-id', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${accessToken}`
                },
                body: JSON.stringify({})
            })
                .then(response => {
                    if (!response.ok) {
                        if (registrationButton) {
                            registrationButton.style.display = 'none';
                        }
                        console.warn('회원 ID 저장에 실패했습니다: ' + response.statusText);
                        return;
                    }
                    return response.json();
                })
                .then(data => {
                    if (data) {
                        savedMemberId = data;
                        console.log('회원 ID가 저장되었습니다.', data);
                    }
                })
                .catch(error => {
                    if (registrationButton) {
                        registrationButton.style.display = 'none';
                    }
                    console.error('회원 ID 저장 중 오류가 발생했습니다.', error);
                });
        } else {
            if (registrationButton) {
                registrationButton.style.display = 'none';
            }
            console.warn('로컬 스토리지의 엑세스 토큰을 찾을 수 없습니다.');
        }
    });

    function redirectToProductDetails(productId) {
        const accessToken = localStorage.getItem('access-token');
        fetch(`/authentication/save-member-id`, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(response => {
                if (response.ok) {
                    location.href = "/product/details?id=" + productId
                } else {
                    throw new Error('서버로부터 올바른 응답을 받지 못했습니다.');
                }
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
                alert('요청 중 오류가 발생했습니다.');
            });
    }

    function redirectToProductRegistration() {
        if (savedMemberId) {
            location.href = `/product/registration-form?memberId=${savedMemberId}`;
        } else {
            alert('회원 ID를 찾을 수 없습니다.');
        }
    }
</script>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
