<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
</head>

<body>
<style>
    .product__item__pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product__item__text h6 {
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }

    .product__item__pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #product-registration-button {
        position: fixed;
        bottom: 40px;
        right: 40px;
        padding: 10px 20px;
        background-color: #ff5722;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
        font-size: 16px;
    }

    #product-registration-button:hover {
        background-color: #e64a19;
    }

    .no-products-message {
        font-size: 20px;
        font-weight: bold;
        color: #ff0000;
        margin-top: 20px;
    }

    .product__item__text h6 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    .shop__product__sort {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        justify-content: flex-end;
    }

    .sort-button {
        text-decoration: none;
        color: #555;
        font-weight: bold;
        padding: 8px 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .sort-button:hover {
        background-color: #f8f8f8;
        border-color: #ccc;
    }

    .sort-button.active {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }

    .subcategories-container, .sub-subcategories-container {
        padding: 10px 15px;
        background-color: #f8f9fa;
        border-left: 3px solid #007bff;
        margin-top: 10px;
        border-radius: 5px;
        display: none;
    }

    .sub-category-list, .sub-sub-category-list {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .sub-category-list li, .sub-sub-category-list li {
        margin-bottom: 5px;
        padding: 5px 0;
        border-bottom: 1px solid #ddd;
        transition: background-color 0.3s ease;
    }

    .sub-category-list li:last-child, .sub-sub-category-list li:last-child {
        border-bottom: none;
    }

    .sub-category-list a, .sub-sub-category-list a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        padding-left: 10px;
        display: block;
    }

    .sub-category-list a:hover, .sub-sub-category-list a:hover {
        background-color: #e2e6ea;
        color: #007bff;
        padding-left: 15px;
    }
</style>
<div th:include="/fragments/header :: header"></div>

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="col-lg-12">
            <div class="shop__product__option">
                <div class="col-lg-12">
                    <div class="shop__product__option">
                        <div class="shop__product__sort">
                            <a href="#" onclick="sortProducts('createdAt,desc')" class="sort-button">최신순</a>
                            <a href="#" onclick="sortProducts('_score')" class="sort-button active">정확도순</a>
                            <a href="#" onclick="sortProducts('price,asc')" class="sort-button">저가순</a>
                            <a href="#" onclick="sortProducts('price,desc')" class="sort-button">고가순</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card" th:each="category, i : ${categories.getCategoryResponses}">
                                    <div class="card-heading">
                                        <a href="#" class="category-link" th:attr="data-category-id=${category.id}">
                                            <span th:text="${category.name.description}">Category Name</span>
                                        </a>
                                    </div>
                                    <div class="subcategories-container"></div> <!-- 2차 카테고리 내용이 여기에 추가됨 -->
                                </div>
                            </div>
                        </div>
                        </br></br>
                        <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>가격 범위 설정</h4>
                            </div>
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                     data-min="0" data-max="10000000"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Price:</p>
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            </br>
                            <a href="#">설정</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6" th:each="product : ${products.getProductResponses}">
                        <div class="product__item">
                            <div class="product__item__pic"
                                 th:onclick="'redirectToProductDetails(' + ${product.id} + ')'">
                                <img th:src="${product.getImage(0).url}" alt="Product Image" class="img-fluid">
                                <div class="label new">New</div>
                                <ul class="product__hover">
                                    <li><a th:href="@{${product.getImage(0).url}}" class="image-popup"><span
                                            class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h5>
                                    <a th:text="${product.title}"
                                       th:onclick="'redirectToProductDetails(' + ${product.id} + ')'">Product
                                        Title</a>
                                </h5>
                                <p>
                                    <span th:text="${product.getCategoriesResponse.getCategoryResponses.get(0).name.description}">1차 카테고리</span>
                                    |
                                    <span th:text="${product.getCategoriesResponse.getCategoryResponses.get(1).name.description}">2차 카테고리</span>
                                    |
                                    <span th:text="${product.getCategoriesResponse.getCategoryResponses.get(2).name.description}">3차 카테고리</span>
                                </p>
                                <h5>
                                    <a th:text="${product.name}"
                                       th:onclick="'redirectToProductDetails(' + ${product.id} + ')'">Product
                                        Name</a>
                                </h5></br>
                                <span th:text="'판매자: ' + ${product.getSellerNickName}">Seller Nickname</span></br>
                                <span th:text="'주소: ' + ${product.sellerRegion}">Seller Address</span>5
                                <br>
                                <span th:text="'학교: ' + ${product.schoolName}">School Name</span>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price" th:text="${product.price} + '원'">Price</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div th:if="${products.getProductResponses.size() == 0}" class="no-products-message">
                        <p>해당하는 상품 목록이 존재하지 않습니다.</p>
                    </div>

                    <div th:if="${products.getProductResponses.size() > 0}" class="pagination__option">
                        <a th:if="${!products.pageInformation.isFirst && !isSearch}"
                           th:href="@{/product/list(pageNumber=${products.pageInformation.pageNumber - 1}, size=${products.pageInformation.size})}">
                            <i class="fa fa-angle-left"></i>
                        </a>

                        <a th:if="${!products.pageInformation.isFirst && isSearch}"
                           th:href="@{/product/search-list(pageNumber=${products.pageInformation.pageNumber - 1})}">
                            <i class="fa fa-angle-left"></i>
                        </a>

                        <span th:each="page : ${#numbers.sequence(1, products.pageInformation.totalPages)}">
                            <a th:if="${!isSearch}"
                               th:href="@{/product/list(pageNumber=${page - 1}, size=${products.pageInformation.size})}"
                               th:text="${page}"
                               th:classappend="${page == products.pageInformation.pageNumber + 1} ? 'active'">
                            </a>

                            <a th:if="${isSearch}"
                               th:href="@{/product/search-list(pageNumber=${page - 1})}"
                               th:text="${page}"
                               th:classappend="${page == products.pageInformation.pageNumber + 1} ? 'active'">
                            </a>
                        </span>

                        <a th:if="${!products.pageInformation.isLast && !isSearch}"
                           th:href="@{/product/list(pageNumber=${products.pageInformation.pageNumber + 1}, size=${products.pageInformation.size})}">
                            <i class="fa fa-angle-right"></i>
                        </a>

                        <a th:if="${!products.pageInformation.isLast && isSearch}"
                           th:href="@{/product/search-list(pageNumber=${products.pageInformation.pageNumber + 1})}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<button id="product-registration-button" onclick="redirectToProductRegistration()">상품 등록</button>
<!-- Shop Section End -->

<div th:include="fragments/footer :: footer"></div>

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<script src="/js/search.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('search-button').addEventListener('click', function (event) {
            event.preventDefault();
            performSearch();
        });

        document.getElementById('searchkeyword').addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                performSearch();
            }
        });
    });
</script>
<script>
    ('DOMContentLoaded', function () {
        document.getElementById('search-button').addEventListener('click', function (event) {
            event.preventDefault();
            performSearch();
        });

        document.getElementById('searchkeyword').addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                performSearch();
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        // 1차 카테고리 클릭 시 하위 2차 카테고리를 불러오는 이벤트 설정
        document.querySelectorAll('.category-link').forEach(categoryLink => {
            categoryLink.addEventListener('click', function (event) {
                event.preventDefault();
                const parentCategoryId = event.currentTarget.getAttribute('data-category-id');
                if (parentCategoryId) {
                    fetchSubcategories(parentCategoryId, event.currentTarget);
                } else {
                    console.error('Parent category ID is missing.');
                }
            });
        });
    });

    // 하위 2차 카테고리를 가져오는 함수
    function fetchSubcategories(parentCategoryId, clickedElement) {
        fetch(`/categories?parentCategoryId=${parentCategoryId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch subcategories');
                }
                return response.json();
            })
            .then(data => {
                renderSubcategories(data.getCategoryResponses, clickedElement);
            })
            .catch(error => {
                console.error('Error fetching subcategories:', error);
            });
    }

    // 하위 2차 카테고리를 렌더링하는 함수
    function renderSubcategories(subcategories, clickedElement) {
        const parentContainer = clickedElement.closest('.card').querySelector('.subcategories-container');

        // 기존 하위 카테고리 제거
        parentContainer.innerHTML = '';

        // 하위 카테고리를 리스트로 추가
        if (subcategories && subcategories.length > 0) {
            const subCategoryList = document.createElement('ul');
            subCategoryList.className = 'sub-category-list';

            subcategories.forEach(subcategory => {
                const listItem = document.createElement('li');
                const subcategoryLink = document.createElement('a');
                subcategoryLink.href = '#';
                subcategoryLink.textContent = subcategory.description;
                subcategoryLink.setAttribute('data-category-id', subcategory.id);
                subcategoryLink.addEventListener('click', function (event) {
                    event.preventDefault();
                    fetchSubSubcategories(subcategory.id, subcategoryLink); // 3차 카테고리 가져오기
                });
                listItem.appendChild(subcategoryLink);
                subCategoryList.appendChild(listItem);
            });

            parentContainer.appendChild(subCategoryList);
            parentContainer.style.display = 'block'; // 데이터를 로드한 후 표시
        } else {
            parentContainer.innerHTML = '<p>하위 카테고리가 없습니다.</p>';
            parentContainer.style.display = 'block'; // 데이터가 없더라도 컨테이너 표시
        }
    }

    // 3차 카테고리를 가져오는 함수
    function fetchSubSubcategories(parentCategoryId, clickedElement) {
        fetch(`/categories?parentCategoryId=${parentCategoryId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch sub-subcategories');
                }
                return response.json();
            })
            .then(data => {
                renderSubSubcategories(data.getCategoryResponses, clickedElement);
            })
            .catch(error => {
                console.error('Error fetching sub-subcategories:', error);
            });
    }

    // 3차 카테고리를 렌더링하는 함수
    function renderSubSubcategories(subSubcategories, clickedElement) {
        let subContainer = clickedElement.nextElementSibling;

        // 기존 3차 카테고리 제거
        if (!subContainer || !subContainer.classList.contains('sub-subcategories-container')) {
            subContainer = document.createElement('div');
            subContainer.className = 'sub-subcategories-container';
            clickedElement.parentNode.appendChild(subContainer);
        } else {
            subContainer.innerHTML = '';
        }

        // 하위 3차 카테고리를 리스트로 추가
        if (subSubcategories && subSubcategories.length > 0) {
            const subSubCategoryList = document.createElement('ul');
            subSubCategoryList.className = 'sub-sub-category-list';

            subSubcategories.forEach(subSubcategory => {
                const listItem = document.createElement('li');
                const subSubcategoryLink = document.createElement('a');
                subSubcategoryLink.href = '#';
                subSubcategoryLink.textContent = subSubcategory.description;
                listItem.appendChild(subSubcategoryLink);
                subSubCategoryList.appendChild(listItem);
            });

            subContainer.appendChild(subSubCategoryList);
            subContainer.style.display = 'block'; // 데이터를 로드한 후 표시
        } else {
            subContainer.innerHTML = '<p>더 이상 하위 카테고리가 없습니다.</p>';
            subContainer.style.display = 'block'; // 데이터가 없더라도 컨테이너 표시
        }
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const accessToken = localStorage.getItem('access-token');
        const registrationButton = document.getElementById('product-registration-button');

        if (accessToken) {
            fetch('/authentication/save-member-id', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${accessToken}`
                },
                body: JSON.stringify({})
            })
                .then(response => {
                    if (!response.ok) {
                        if (registrationButton) {
                            registrationButton.style.display = 'none';
                        }
                        console.warn('회원 ID 저장에 실패했습니다: ' + response.statusText);
                        return;
                    }
                    return response.json();
                })
                .then(data => {
                    if (data) {
                        savedMemberId = data;
                        console.log('회원 ID가 저장되었습니다.', data);
                    }
                })
                .catch(error => {
                    if (registrationButton) {
                        registrationButton.style.display = 'none';
                    }
                    console.error('회원 ID 저장 중 오류가 발생했습니다.', error);
                });
        } else {
            if (registrationButton) {
                registrationButton.style.display = 'none';
            }
            console.warn('로컬 스토리지의 엑세스 토큰을 찾을 수 없습니다.');
        }
    });

    function redirectToProductDetails(productId) {
        const accessToken = localStorage.getItem('access-token');
        fetch(`/authentication/save-member-id`, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(response => {
                if (response.ok) {
                    location.href = "/product/details?id=" + productId
                } else {
                    throw new Error('서버로부터 올바른 응답을 받지 못했습니다.');
                }
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
                alert('요청 중 오류가 발생했습니다.');
            });
    }

    function redirectToProductRegistration() {
        if (savedMemberId) {
            location.href = `/product/registration-form?memberId=${savedMemberId}`;
        } else {
            alert('회원 ID를 찾을 수 없습니다.');
        }
    }

    function sortProducts(sortCriteria) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('sort', sortCriteria);
        window.location.search = urlParams.toString();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        let sortCriteria = urlParams.get('sort');

        // sort 파라미터가 없거나 기본값일 때, 최신순을 기본으로 설정
        if (!sortCriteria) {
            sortCriteria = 'createdAt,desc'; // 최신순이 기본 정렬 기준
        }

        document.querySelectorAll('.sort-button').forEach(button => {
            if (button.getAttribute('onclick').includes(sortCriteria)) {
                button.classList.add('active');
            } else {
                button.classList.remove('active');
            }
        });
    });

    function sortProducts(sortCriteria) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('sort', sortCriteria);
        window.location.search = urlParams.toString();
    }
</script>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
