<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${product.name} + ' | Product Edit'">Product Edit</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
<style>
    .image-container {
        position: relative;
        display: inline-block;
        margin: 10px;
    }

    .img-preview {
        width: 150px;
        height: auto;
        border: 1px solid #ddd;
    }

    .btn-delete {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 2px 6px;
        font-size: 12px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    .category-select-wrapper {
        margin-left: 10px;
    }

    .image-deleted {
        opacity: 0.5;
        filter: grayscale(100%);
    }

    .representative-image {
        border: 2px solid gold;
    }
</style>

<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="#"><span class="icon_heart_alt"></span>
            <div class="tip">2</div>
        </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
            <div class="tip">2</div>
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="../index.html"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="#">Women’s</a></li>
                        <li><a href="#">Men’s</a></li>
                        <li class="active"><a href="list.html">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="details.html">Product Details</a></li>
                                <li><a href="../shop-cart.html">Shop Cart</a></li>
                                <li><a href="../checkout.html">Checkout</a></li>
                                <li><a href="../blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="../blog.html">Blog</a></li>
                        <li><a href="../member/registration.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        <a href="#">Login</a>
                        <a href="#">Register</a>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li><a href="#"><span class="icon_heart_alt"></span>
                            <div class="tip">2</div>
                        </a></li>
                        <li><a href="#"><span class="icon_bag_alt"></span>
                            <div class="tip">2</div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Product Edit</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Edit Section Begin -->
<section class="product-edit spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__form">
                        <h5>상품 수정</h5>
                        <form class="product-edit-form" name="editForm" method="post" enctype="multipart/form-data">
                            <input type="hidden" id="selectedFirstCategoryId" th:value="${selectedFirstCategoryId}">
                            <input type="hidden" id="selectedSecondCategoryId" th:value="${selectedSecondCategoryId}">
                            <input type="hidden" id="selectedThirdCategoryId" th:value="${selectedThirdCategoryId}">
                            <input type="hidden" id="product-id" th:value="${product.id}"/>

                            <div class="col-md-12">
                                <label for="category-select">카테고리 수정</label>
                                <p>현재 카테고리:
                                    <span th:text="${product.getCategoriesResponse.getCategoryResponses.get(0).name.description}">1차 카테고리</span>
                                    >
                                    <span th:text="${product.getCategoriesResponse.getCategoryResponses.get(1).name.description}">2차 카테고리</span>
                                    >
                                    <span th:text="${product.getCategoriesResponse.getCategoryResponses.get(2).name.description}">3차 카테고리</span>
                                </p>
                            </div>

                            <div class="category-select-wrapper">
                                <select class="form-control category-select" id="first-category"
                                        name="connectCategoryRequest.firstCategoryId">
                                    <option value="">대분류를 선택해 주세요</option>
                                    <option th:each="category : ${categories.getGetCategoryResponses()}"
                                            th:value="${category.id}"
                                            th:text="${category.name.description}">
                                    </option>
                                </select></br>
                            </div>

                            <div class="category-select-wrapper">
                                <select class="form-control category-select" id="second-category"
                                        name="connectCategoryRequest.secondCategoryId">
                                    <option value="">소분류를 선택해 주세요</option>
                                </select></br>
                            </div>

                            <div class="category-select-wrapper">
                                <select class="form-control category-select" id="third-category"
                                        name="connectCategoryRequest.thirdCategoryId">
                                    <option value="">상세분류를 선택해 주세요</option>
                                </select></br>
                            </div>

                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" onclick="updateCategories()">카테고리 수정
                                </button>
                                </br></br></br>
                            </div>

                            <div class="col-md-12">
                                <div class="quform-element form-group">
                                    <label for="product-name">상품명</label>
                                    <div class="quform-input">
                                        <input class="form-control" id="product-name" type="text" name="name"
                                               th:value="${product.name}"/>
                                        <button type="button" class="btn btn-primary" onclick="updateName('name')">수정
                                        </button>
                                        </br></br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="quform-element form-group">
                                    <label for="price">가격</label>
                                    <div class="quform-input">
                                        <input class="form-control" id="price" type="text" name="price"
                                               th:value="${product.price}"/>
                                        <button type="button" class="btn btn-primary" onclick="updatePrice('price')">
                                            수정
                                        </button></br></br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="quform-element form-group">
                                    <label for="title">게시글 제목</label>
                                    <div class="quform-input">
                                        <input class="form-control" id="title" type="text" name="title"
                                               th:value="${product.title}"/>
                                        <button type="button" class="btn btn-primary" onclick="updateTitle('title')">
                                            수정
                                        </button></br></br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="quform-element form-group">
                                    <label for="content">게시글 내용</label>
                                    <div class="quform-input">
                                            <textarea class="form-control" id="content" name="content"
                                                      th:text="${product.content}"></textarea>
                                        <button type="button" class="btn btn-primary"
                                                onclick="updateContent('content')">
                                            수정
                                        </button></br></br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label>기존 이미지</label>
                                <div id="existing-images">
                                    <div th:each="image : ${product.imageResponses}"
                                         th:id="'image-container-' + ${image.id}" class="image-container">
                                        <img th:src="${image.url}" alt="이미지 없음" class="img-preview"/>

                                        <span class="crown-icon"
                                              style="position: absolute; top: 5px; left: 5px; cursor: pointer;"
                                              th:onclick="'designateRepresentativeImage(' + ${image.id} + ')'">👑</span>

                                        <button type="button" class="btn btn-danger btn-delete"
                                                th:id="'delete-button-' + ${image.id}"
                                                style="position: absolute; top: 5px; right: 5px;"
                                                th:onclick="'deleteImage(' + ${image.id} + ')'">x
                                        </button>

                                        <button type="button" class="btn btn-secondary btn-rollback-delete"
                                                th:id="'rollback-delete-' + ${image.id}" style="display: none;"
                                                th:onclick="'rollbackDeletion(' + ${image.id} + ')'">삭제 취소
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <small style="color: gray;">대표 이미지로 설정된 사진이 상품 목록에 게시됩니다.</small>
                            <br/><br/>

                            <div class="col-md-12">
                                <div class="quform-element form-group">
                                    <label for="image-upload">이미지 추가</label>
                                    <div class="quform-input">
                                        <input class="form-control" id="image-upload" type="file" name="images"
                                               multiple accept="image/*" onchange="previewNewImages()"/>
                                    </div>
                                </div>
                                <div id="new-image-preview"></div>
                                <button type="button" class="btn btn-success" onclick="uploadImages()">이미지 추가</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i>
                        by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<script>
    document.getElementById('first-category').addEventListener('change', function () {
        const parentCategoryId = this.value;
        fetch('/categories?parentCategoryId=' + parentCategoryId)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                const secondCategorySelect = document.getElementById('second-category');
                secondCategorySelect.innerHTML = '<option value="">소분류를 선택해 주세요</option>';

                if (data.getCategoryResponses && data.getCategoryResponses.length > 0) {
                    data.getCategoryResponses.forEach(category => {
                        const option = document.createElement('option');
                        option.value = category.id;
                        option.text = category.description;
                        secondCategorySelect.appendChild(option);
                    });
                } else {
                    const noneOption = document.createElement('option');
                    noneOption.value = "";
                    noneOption.text = "카테고리가 없습니다";
                    secondCategorySelect.appendChild(noneOption);
                }

                document.getElementById('third-category').innerHTML = '<option value="">상세분류를 선택해 주세요</option>';
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    });

    document.getElementById('second-category').addEventListener('change', function () {
        const parentCategoryId = this.value;
        fetch('/categories?parentCategoryId=' + parentCategoryId)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                const thirdCategorySelect = document.getElementById('third-category');
                thirdCategorySelect.innerHTML = '<option value="">상세분류를 선택해 주세요</option>';

                if (data.getCategoryResponses && data.getCategoryResponses.length > 0) {
                    data.getCategoryResponses.forEach(category => {
                        const option = document.createElement('option');
                        option.value = category.id;
                        option.text = category.description;
                        thirdCategorySelect.appendChild(option);
                    });
                } else {
                    const noneOption = document.createElement('option');
                    noneOption.value = "";
                    noneOption.text = "카테고리가 없습니다";
                    thirdCategorySelect.appendChild(noneOption);
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    });

    function updateCategories() {
        const productId = document.getElementById('product-id').value;
        const firstCategoryId = document.getElementById('first-category').value;
        const secondCategoryId = document.getElementById('second-category').value;
        const thirdCategoryId = document.getElementById('third-category').value;

        if (!firstCategoryId || !secondCategoryId || !thirdCategoryId) {
            alert('카테고리를 모두 선택해 주세요.');
            return;
        }

        const requestData = {
            id: productId,
            connectCategoryRequest: {
                firstCategoryId: firstCategoryId,
                secondCategoryId: secondCategoryId,
                thirdCategoryId: thirdCategoryId
            }
        };

        fetch('/product/update', {
            method: 'PATCH',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(requestData)
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(errorData => {
                        alert('카테고리 수정에 실패했습니다.');
                        throw new Error(errorData.message);
                    });
                }
                return response.json();
            })
            .then(data => {
                const memberId = data;
                alert('카테고리가 수정되었습니다.');
                location.href = `/product/modification-form?id=${productId}&memberId=${memberId}`;
            })
            .catch(error => {
                console.error('Error:', error);
                alert('요청 중 오류가 발생했습니다.');
            });
    }

    function updateName() {
        const productId = document.getElementById('product-id').value;
        const productName = document.getElementById('product-name').value;

        const requestData = {
            id: productId,
            name: productName
        };

        fetch('/product/update', {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(requestData)
        }).then(response => {
            if (response.ok) {
                alert('상품명이 수정되었습니다.');
            } else {
                alert('상품명 수정에 실패했습니다.');
            }
        });
    }

    function updatePrice() {
        const productId = document.getElementById('product-id').value;
        const productPrice = document.getElementById('price').value;

        const requestData = {
            id: productId,
            price: productPrice
        };

        fetch('/product/update', {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(requestData)
        }).then(response => {
            if (response.ok) {
                alert('가격이 수정되었습니다.');
            } else {
                alert('가격 수정에 실패했습니다.');
            }
        });
    }

    function updateTitle() {
        const productId = document.getElementById('product-id').value;
        const productTitle = document.getElementById('title').value;

        const requestData = {
            id: productId,
            title: productTitle
        };

        fetch('/product/update', {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(requestData)
        }).then(response => {
            if (response.ok) {
                alert('게시글 제목이 수정되었습니다.');
            } else {
                alert('게시글 제목 수정에 실패했습니다.');
            }
        });
    }

    function updateContent() {
        const productId = document.getElementById('product-id').value;
        const productContent = document.getElementById('content').value;

        const requestData = {
            id: productId,
            content: productContent
        };

        fetch('/product/update', {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(requestData)
        }).then(response => {
            if (response.ok) {
                alert('게시글 내용이 수정되었습니다.');
            } else {
                alert('게시글 내용 수정에 실패했습니다.');
            }
        });
    }

    function designateRepresentativeImage(imageId) {
        fetch(`/image/designate-representative?imageId=${imageId}`, {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'}
        }).then(response => {
            if (response.ok) {
                alert('대표 이미지가 설정되었습니다.');

                document.querySelectorAll('.img-preview').forEach(img => {
                    img.classList.remove('representative-image');
                });

                const imageContainer = document.getElementById(`image-container-${imageId}`);
                if (imageContainer) {
                    imageContainer.querySelector('.img-preview').classList.add('representative-image');
                }
            } else {
                alert('대표 이미지 설정에 실패했습니다.');
            }
        }).catch(error => {
            console.error('Error:', error);
            alert('대표 이미지 설정 중 오류가 발생했습니다.');
        });
    }

    function deleteImage(imageId) {
        fetch(`/image/delete/${imageId}`, {
            method: 'DELETE'
        }).then(response => {
            if (response.ok) {
                alert('이미지가 삭제되었습니다.');
                const rollbackButton = document.getElementById(`rollback-delete-${imageId}`);
                rollbackButton.style.display = 'inline-block';

                const deleteButton = document.getElementById(`delete-button-${imageId}`);
                deleteButton.style.display = 'none';

                const imageContainer = document.getElementById(`image-container-${imageId}`);
                if (imageContainer) {
                    imageContainer.classList.add('image-deleted');
                }
            } else {
                alert('이미지 삭제 실패: ' + response.statusText);
            }
        });
    }

    function rollbackDeletion(imageId) {
        fetch(`/image/rollback-deletion/${imageId}`, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                alert('이미지 삭제가 취소되었습니다.');

                const rollbackButton = document.getElementById(`rollback-delete-${imageId}`);
                rollbackButton.style.display = 'none';

                const deleteButton = document.getElementById(`delete-button-${imageId}`);
                deleteButton.style.display = 'inline-block';

                const imageContainer = document.getElementById(`image-container-${imageId}`);
                if (imageContainer) {
                    imageContainer.classList.remove('image-deleted');
                }
            } else {
                alert('삭제 취소 실패: ' + response.statusText);
            }
        });
    }

    function previewNewImages() {
        const preview = document.getElementById('new-image-preview');
        preview.innerHTML = '';
        const files = document.getElementById('image-upload').files;

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            if (!file.type.startsWith('image/')) {
                continue;
            }

            const img = document.createElement("img");
            img.classList.add("img-preview");
            preview.appendChild(img);

            const reader = new FileReader();
            reader.onload = (e) => img.src = e.target.result;
            reader.readAsDataURL(file);
        }
    }

    function uploadImages() {
        const formData = new FormData();
        const files = document.getElementById('image-upload').files;
        const productId = document.getElementById('product-id').value;

        for (let i = 0; i < files.length; i++) {
            formData.append('images', files[i]);
        }

        formData.append('targetType', 'PRODUCT');
        formData.append('targetId', productId);

        fetch('/image/add', {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok) {
                alert('이미지가 업로드되었습니다.');
                location.reload();
            } else {
                alert('이미지 업로드 실패: ' + response.statusText);
            }
        });
    }
</script>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html>
