* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

p {
    margin-bottom: 0 !important;
}

#chatContainer {
    width: 800px;
}

#chatContainer .header {
    font-size: 14px;
    padding: 15px 0;
    background: #F18C7E;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

#chatContainer .header p {
    width: 50%;
    text-align: end;
}

#chatContainer .header div {
    width: 50%;
    text-align: end;
    margin-right: 10px;
}

#chatContainer .header img {
    width: 45px;
    height: 45px;
}

#chatContainer .header input {
    display: none;
}

#chatWrapper {
    display: flex;
}

#chatWrapper .chat-list {
    width: 25%;
    border-left: 1px solid;
}

#chatWrapper .chat-list .user {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
}

#chatWrapper .chat-list .user > div {
    overflow: hidden;
}

#chatWrapper .chat-list .user p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#chatWrapper .chat-list .user::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #a71d2a;
}

#chatWrapper img {
    width: 45px;
    height: 45px;
    border-radius: 45px;
}

#chatContainer .chat {
    overflow-y: auto;
    height: 600px;
    width: 75%;
    border-right: 1px solid;
    border-left: 1px solid;
}

#chatContainer .chat ul {
    width: 100%;
    list-style: none;
}

#chatContainer .chat ul li {
    width: 100%;
}

#chatContainer .chat ul li.left {
    text-align: left;
}

#chatContainer .chat ul li.right {
    text-align: right;
}

#chatContainer .chat ul li > div {
    font-size: 13px;
}

#chatContainer .chat ul li > div.sender {
    margin: 10px 20px 0 20px;
    font-weight: bold;
}

#chatContainer .chat ul li > div.message {
    display: inline-block;
    word-break: break-all;
    margin: 5px 20px;
    max-width: 75%;
    border: 1px solid #888;
    padding: 10px;
    border-radius: 5px;
    background-color: #FCFCFC;
    color: #555;
    text-align: left;
}

#chatContainer .input-div {
    width: 800px;
    background-color: #FFF;
    text-align: center;
    border-top: 1px solid #F18C7E;
}

#chatContainer .input-div > textarea {
    max-height: 150px;
    min-height: 80px;
    width: 100%;
    height: auto;
    border: 1px solid;
    border-top: none;
    padding: 10px;
    resize: vertical;
}

.format {
    display: none;
}

.active {
    background-color: #888;
}

