<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="alertFragment">
<head>
  <link rel="stylesheet" th:href="@{/chat/css/alert.css}">

  <!--chat-->
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>

  <script th:defer th:type="module" th:src="@{/chat/js/alert.js}"></script>

</head>
<body>
<article>
  <div id="alertImgContainer">
    <img th:src="@{/chat/img/hand.png}" alt="알림이미지">
    <span id="alertCount"></span>
  </div>
</article>

<script th:inline="javascript">
  const accessToken = localStorage.getItem('access-token');
  const alertImgEle = document.querySelector('#alertImgContainer > img');
  alertImgEle.addEventListener('click', () => {
    if (accessToken === null) location.href = '/member/login'
    else location.href = '/chat-list'
  })
</script>

</body>
</html>
