<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="alertFragment">
<head>
  <link rel="stylesheet" th:href="@{/chat/css/alert.css}">
  <script th:defer src="@{/chat/js/alert.js}"></script>
</head>
<body>
<article>
  <div id="alertImgContainer">
    <img th:src="@{/chat/img/hand.png}" alt="알림이미지">
  </div>
</article>

<script th:inline="javascript">
  const accessToken = localStorage.getItem('access_token');
  const alertImgEle = document.querySelector('#alertImgContainer > img');
  alertImgEle.addEventListener('click', () => {
    if (accessToken === null) location.href = '/member/login'
    else location.href = '/chatrooms'
  })
</script>

</body>
</html>
